body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather Sans", sans-serif;
  color: #40514e;
}
h1 {
  margin: 50px auto 0px auto;
  font-family: "Sacramento", cursive;
  font-size: 562.5%;
  color: #66bfbf;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 250%;
  color: #66bfbf;
  font-weight: normal;
  padding-top: 10px;
}
h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

p {
  line-height: 2;
}
.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.skill-img {
  width: 25%;
  float: left;
  margin-right: 23px;
}

.skill-image1 {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.middle-container {
  margin: 100px 0;
}
.bottom-container {
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 28px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

hr {
  border: dotted #eaf6f6 6px;
  border-top: none;
  width: 4%;
  margin: 100px auto;
}
.intro {
  width: 30%;
  margin: auto;
}
.contact-msg {
  width: 40%;
  margin: 40px auto 60px;
}
a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

.copyright {
  color: #eaf6f6;
  font-size: 75%;
  padding: 20px 0;
}
